*{
    margin:0;
    padding:0;
}
html{
    height:100vh;
}

body.testingBody {
    background: url("../../Assets/Images/AboutUs.png");
    height:150vh;
    width:auto;
    background-size: cover;
    object-position: center top;
    background-repeat: no-repeat;
    background-position: 100% 0%;


    
}
Navbar{
    overflow:auto;
}
