@charset "utf-8";

@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}
@font-face {
    src: url(fonts/AvenirNext-Bold.ttf);
    font-family: AveNextBold;
}
@font-face {
    src: url(fonts/Calibri\ Regular.ttf);
    font-family: Calibri;
}

body, html{
    margin:0;
    padding:0;
}

html.ttcHtml {
    overflow-x: hidden;
}

body.ttcBody {
    overflow-x: hidden;
}

.carouselMobile {
    visibility: hidden;
    height: 0;
    width: 0;
}

.title1 {
    display: inline;
    color: #790c15;
    font-family: AveNextBold;
    font-size: 30px;
}

.title2 {
    display: inline;
    color: #464749;
    font-family: AveNextBold;
    font-size: 30px;
}

.firstContentText {
    margin-left: 5.1em;
    font-family: AveNext;
    color: #464749;
}

.firstContent {
    margin-left: -30px;
}

.ttcContent {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 92px;
    height: 300px;
    overflow: auto;
    padding-right: 20px;
    text-align: justify !important;
}

.carousel {
    margin-top: 8%;
}

img#carouselPic {
    float: right;
    width: 70%;
    margin-right: 100px;
}

.carousel-control-prev,.carousel-control-next {
    display: none;
}

.carousel-indicators button {
    height: 7px !important;
    width: 7px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color:transparent!important;
}

.carousel-indicators {
    justify-content: right;
    margin-right: 20% !important;
} 

.rightDiv {
    background:  url("../../Assets/Images/bg-rightSide.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: right top 1em;
}

.bottomDiv {
    background:  url("../../Assets/Images/bg-leftSide.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-attachment: fixed;
}

/* Desktop */
@media (min-width: 1024px) {
    .ttcContent {
        height: 270px;
        width: 95%
    }
    .title1,.title2 {
        font-size: 28px;
    }
    .rightDiv { 
        background-size: 57%;
        background-attachment: fixed;
        background-position: right top 1.4em;
    }  
    .bottomDiv {
        background-size: contain;
        background-position: left bottom ;
        background-attachment: fixed;
    }
    .carouselDesktop {
        margin-top: -3.8%;
        width: 48%;
        margin-left: 1em;
    }
}

/* Ipad air version */
@media (min-width: 766px) and ( max-width:1023px){ 
    html.ttcHtml {
      height: 160vh;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .firstContentText {
        margin-left: 6.5em;
    }

    body.ttcBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position: 5% 100%;
        background-size: 210%;
    }

    .firstContentText {
        margin-left: 6.7em;
    }

    .bottomDiv {
        background-image: none;
    }

    .ttcTitle{
        font-size: 28px;
    }

    .rightDiv{
        /* background-image: url("../../Assets/Images/brush1.png");
        background-position: 130% 13%;
        background-attachment: unset;
        background-size: 100% 65%; */
     background-image:none;
    }
}

/* Mobile Devices */
@media (max-width: 765px) { 
    /* html.ttcHtml{
        height: 250vh;
        overflow-y: auto;
        overflow-x: hidden;
    } */

    .firstContentText {
        margin-left: 5em !important;
        margin-top: -1em;
    }

    .ttcContent {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 80%;
        overflow: hidden; 
        margin-bottom: 0;
        margin-top: 2em;
    }

    img#carouselPic {
        width: 70%;
        margin-left: 5em;
        margin-top: 0;
        float: none;
    }

    body.ttcBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position: 5% bottom;
        background-size: 342%;
        height:fit-content;
    }

    .carouselDesktop {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .carouselMobile {
        visibility: visible;
        height: auto;
        width: auto;  
        margin-top: 0em;
    }

    .rightDiv{
        background-image: url("../../Assets/Images/brush1.png");
        background-position: 130% 28%;
        background-attachment: unset;
        background-size: 100% 43%;
    }

    .bottomDiv {
        background-image: none;
    }

    .title1{
        margin-top: -2em;
        font-size: 22.4px;
    }

    .title2{
        font-size: 1.6em;
    }

    .ttcTitle{
        font-size: 1.6em;
    }
}