@font-face {
  src: url(fonts/AvenirNext.ttf);
  font-family: AveNext;
}

body, html{
  margin: 0;
  padding: 0;
}

html.contactUsHTML{
  overflow: hidden;
}

body.contactUsBody {
  overflow: hidden;
}

.leftSection {
  background:  url("../../Assets/Images/contactus-left.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: left top -0.5em;
  height: 100vh;
}

.bottomSection {
  background:  url("../../Assets/Images/phoneview.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-attachment: fixed;
}

.contactUs {
  margin-left: 50%;
  margin-top: 2.5%;
}

.formTitle {
  color: #790C15;
  font-weight: 400;
}

h1 {
  color: #790C15;
  font-size: 30px;
}

/* Form Style */
p {
  font-size: 1.2em;
}

input {
  width: 450px;
  height: 30px;
}

::placeholder {
  font-size: 15px;
}

button.ant-btn.ant-btn-primary.formBtn {
  background-color: #790C15;
  border: none;
  width: 130px;
  border-radius: 3px;
}

textarea#basic_message {
  border-color: #9B9B9B;
  border-width: 2px;
}

/* Desktop */
@media (min-width: 1024px) {
  html.contactUsHTML {
    overflow-x: hidden;
  }

  body.contactUsBody {
    background-image: none;
  }

  .leftSection {
    background-image: url("../../Assets/Images/contactus-left.png");
    background-size: 82%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left 1.2em top 0.2em;
  }

  .bottomDiv{
    background-image: url("../../Assets/Images/phoneview.png");
    background-repeat: no-repeat;
    background-size: 81%;
    background-position: left bottom;
    background-attachment: fixed;
    }
  .contactUs {
    margin-left:49%;
    margin-top: 6.5%;
    width: 80%;
  }
  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: 1.7%;
  }

  .contactUsDiv{
    margin-top: -5em;
  }

  .CuContent{
    font-size: medium;
  }

  .formTitle{
    font-size: x-large;
  }

  .contactUsHeader{
    display: none;
  }
} 

/* Ipad air version */
@media (min-width: 768px) and ( max-width:990px){ 
  html.contactUsHTML{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .contactUs {
    padding: 10%;
    margin-left: -0.7%;
    margin-top: -5em;
  }

  .ant-form-item {
    width: 202%;
  }

  body.contactUsBody {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% bottom;
    background-size: 210%;
  }

  .bottomDiv{
    background-image: none;
  }

  .contactUsHeader{
    display: inline;
    color: #790c15;
    font-family: AveNextBold;
    font-size: 28px;
    margin-top: 0.7em;
    margin-left: 2.2em;
    letter-spacing: 0.1em;
  }

  .leftSection {
    background-image: none;
  }

  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: 4%;
  }

  .formTitle{
    font-size: 28px;
  }

  .CuContent{
    font-size: x-large;
  }
}

/* Mobile Devices */
@media (max-width: 765px) { 
  .contactUs {
    padding: 10%;
    margin-left:3%;
    margin-top: -1em;
  }

  .ant-form-item {
    width: 93%;
  }

  .formTitle{
    font-size: 1.5em;
  }

  .contactUsHeader{
    display: inline;
    color: #790c15;
    font-family: AveNextBold;
    letter-spacing: 0.1em;
    font-size: 1.6em;
    margin-top: 0.2em;
    margin-left:1.8em;
  }

  .leftSection {
    background-image: none;
  }

  body.contactUsBody {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% bottom;
    background-size: 342%;
  }

  .bottomDiv{
    background-image: none;
  }

  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: -8.2%;
  }
}