@font-face {
  src: url(fonts/AvenirNext.ttf);
  font-family: AveNext;
}

.contactUsBody{
  background-image:url("../../Assets/Images/TTC\ CU3.png");
  height:120vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:0 0;  
  overflow-x:hidden;
}

.contactUs {
  margin-left: 50%;
  margin-top: 2.5%;
}

.formTitle {
  color: #790C15;
  font-weight: 400;
}

h1{
  color: #790C15;
  font-size:30px;
}

/*Form style*/
p{
  font-size:15px;
}
input{
  width: 450px;
  height:30px;
}
::placeholder {
  font-size: 15px;
}

button.ant-btn.ant-btn-primary.formBtn {
  background-color: #790C15;
  border: none;
  width:130px;
  border-radius: 3px;
}

textarea#basic_message {
  border-color: #9B9B9B;
  border-width: 2px;
}

button.ant-btn.ant-btn-primary.formBtn.mt-2 {
  margin-left: -4%;
}



/*RESPONSIVE*/

@media (min-width: 1920px) {
 body.contactUsBody {
    background-image: url("../../Assets/Images/ContactUs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0% 0%;  
  }
   .contactUs {
    margin-left:50%;
    margin-top: 6%;
  } 
  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: 4.5%;
  }
}

@media (min-width: 1800px ) and (max-width:1920px) {
  body.contactUsBody {
    background-image: url("../../Assets/Images/ContactUs.png");
    background-size: cover;
    background-position:0% 0%; 
  }
 .contactUs {
    margin-left:40%;
    margin-top: 6%;
    width:150%;
  }  
  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: 9%;
  }
}
@media (min-width: 1600px ) and (max-width:1800px) {
  body.contactUsBody {
    background-image: url("../../Assets/Images/ContactUs.png");
    background-size: cover;
    background-position:0% 0%; 
  }
 .contactUs {
    margin-left:40%;
    margin-top: 5%;
    width:140%;
  }  
  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: 9%;
  }
  body.contactUsBody {
    height: 120vh;
}
}

@media (min-width: 1536px) {
  body.contactUsBody {
      height: 120vh;
  }
  html.contactUsHTML {
      overflow-x: hidden;
  }
  .formTitle{
    font-size:xx-large
  }
  .CuContent{
    font-size:x-large;
  }
}

@media (min-width: 1500px ) and (max-width:1600px) {
  body.contactUsBody {
    height: 120vh;
}
  body.contactUsBody {
    background-image: url("../../Assets/Images/ContactUs.png");
    background-size: cover;
    background-position:0% 0%; 
  }
 .contactUs {
    margin-left:40%;
    margin-top: 4%;
    width:110%;
  }
  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: 6.5%;
  }
  .formTitle{
    font-size:xx-large
  }
  .CuContent{
    font-size:x-large;
  }
}

@media (min-width: 1400px) and (max-width: 1499px) {
  body.contactUsBody {
    background-image: url("../../Assets/Images/ContactUs.png");
    background-size: cover;
    background-position:0% 0%; 
  }
  .contactUs {
    margin-left:40%;
    margin-top: 8%;
    width:150%;
  }
  .formTitle{
    font-size:xx-large
  }
  .CuContent{
    font-size:x-large;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  body.contactUsBody {
    background-image: url("../../Assets/Images/ContactUs.png");
    background-size: cover;
    background-position:0
  }
 .contactUs {
    margin-left:40%;
    margin-top: 5%;
    width:100%;
  } 
  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: 5.5%;
  }
  .formTitle{
    font-size:xx-large
  }
  .CuContent{
    font-size:x-large;
  }
}  

 @media (min-width: 1224px) and (max-width: 1279px) {
  body.contactUsBody {
    background-image: url("../../Assets/Images/ContactUs.png");
    background-size: cover;
    background-position:0
  }
 .contactUs {
    margin-left:40%;
    margin-top: 7%;
    width:100%;
  }  
  .contactUsDiv{
    margin-top:-3.5em;
  }
}

@media (min-width: 1093px) and (max-width: 1223px) {
  body.contactUsBody {
    background-image: url("../../Assets/Images/ContactUs.png");
    background-size: cover;
    background-position:0
  }
  .contactUs {
    margin-left:35%;
    margin-top:2%;
    width:200%;
  }
  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: 2.5%;
  }
  .contactUsDiv{
    margin-top:2em;
  }
  .CuContent{
    font-size:large;
  }
} 

@media (max-width: 1023px) { 
  body.contactUsBody {
    background-image: url("../../Assets/Images/AboutUs.png");
    background-attachment: fixed;
    background-size:cover;
    background-position:0; 
    height:auto; 
  }
}
 

/*Tablet*/
@media (min-width: 1022px) and (max-width: 1092px) {
  html.contactUsHTML {
    overflow-x: hidden;
}
  body.contactUsBody {
    background-image: url("../../Assets/Images/AboutUs.png");
    background-size: cover;
    background-position:0
   }
  .contactUs {
    margin-left:25%;
    margin-top: 10%;
    width:100%;
  }
  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: 1%;
  }
  .CuContent{
    font-size:x-large;
  }
}

/*Tablet*/
@media (min-width: 991px) and (max-width: 1022px) {
    
  body.contactUsBody {
      background-image: url("../../Assets/Images/comingsoon.png");
      background-position:0;  
  }
  .contactUs {
    margin-left:25%;
    margin-top: 10%;
    width:200%;
  }
  button.ant-btn.ant-btn-primary.formBtn.mt-2 {
    margin-left: 1%;
  }
  .contactUsDiv{
    margin-top: -5em;
  }
  .CuContent{
    font-size:x-large;
  }
}

/* Ipad air version */
@media (min-width: 768px) and ( max-width:990px){ 
  .contactUs {
    margin-left: 25%;
    margin-top: 12%;
  }
  body.contactUsBody {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-position:0;  
}
.CuContent{
  font-size:x-large;
}
}

/*Ipad Mini*/
@media (max-width: 767px) { 
  .contactUs {
    padding: 10%;
    margin-left: 18%;
  }
  .ant-form-item {
    width: 100%;
  }
 
}
@media (max-width: 566px) { 
  .contactUs {
    padding: 10%;
    margin-left:2%;
  }
  .ant-form-item {
    width: 100%;
  }
 
}
@media (max-width: 380px) { 
  .contactUs {
    padding: 10%;
    margin-left:2%;
  }
  .ant-form-item {
    width: 100%;
  }
  .formTitle{
    font-size: 2em;
  }
  .contactUsDiv{
    margin-top: -2em;
  }
}