body, html{
    margin:0;
    padding:0;
}

html.founderHtml {
    overflow-x: hidden;
}

body.founderBody {
    background: url("../../Assets/Images/TTCbg3.png");
    height:130vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% 100%;  
}

.founderContent {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 92px;
    height: 300px;
    overflow: auto;
    padding-right: 20px;
}

.founderPic {
    float: right;
    width: 70%;
    margin-right: 100px;
    margin-top: 8%;
}

/* Responsive*/
@media (min-width: 1920px) {
    .founderPic {
        margin-top: 5% !important;
    }
}

@media (min-width: 1224px) and (max-width: 1449px) {
    .founderContent {
        height: 350px;
    }
    .founderPic {
        margin-top: 10%;
    }
    body.founderBody{
        overflow-x: hidden;
    }
}
 

@media (min-width: 1093px) and (max-width: 1224px) {
    .founderContent {
        height: 200px;
    }
    h2#founderTitle2{
        display:block !important;
    }
    .founderTitle{
        margin-top:-1.5em;
    }
} 

/* TO AVOID DEVELOPER'S PERSONAL SCREEN*/
@media (min-width: 1224px) and ( max-width:1275px){ 
    .founderContent {
        height:280px;
    }
    .founderPic {
        margin-top: 10% ;
    }
    body.founderBody{
        height:auto;
        background-position:0;
    }
} 

@media (min-width: 1276px) and (max-width: 1279px) {
    .founderContent {
        height:280px;
    }
    .founderPic {
        margin-top: 10% ;
    }
    body.founderBody{
        background-position:auto auto;
        height:120vh;
    }
}   

 /* 13.9-14.9inch w height:796 */
@media (min-width: 1281px) and (max-width: 1535px) {
    .founderContent {
        height:280px;
    }
    .founderPic {
        margin-top: 10% ;
    }
    body.founderBody{
        height:120vh;
    }
} 

/*Tablet*/
@media (min-width: 1023px) and (max-width: 1092px) {
    html.founderHtml {
        overflow-x: hidden;
    }
    body.founderBody {
        background-image: url("../../Assets/Images/comingsoon.png"); 
        background-size:cover;
        background-position:0;
    }
    .founderContent {
        height: 20em !important;
    }
}
@media (max-width: 1023px) { 
    body.founderBody {
        background-size:cover;
        background-position:0;
    }
} 
/*Tablet*/
@media (min-width: 992px) and (max-width: 1022px) {
    
    body.founderBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-position:0;  
    }
    .founderContent {
        height: 15em !important;
    }
}

@media (min-width: 1536px) {
    body.founderBody {
        height: 120vh;
    }
    html.founderHtml {
        overflow-x: hidden;
    }
}

/* Ipad air version */
@media (min-width: 768px) and ( max-width:991px){ 
    html.founderHtml {
        overflow: hidden;
    }
    
    .founderContent {
        font-size: 14px;
        margin-left: 92px;
        width:80%;
        margin-bottom: 0;
    }
    .founderPic {
        margin-top: 3% !important;
    }
}

/*Ipad mini*/
@media (min-width: 766px) and (max-width: 767px) { 
    html.founderHtml{
        height:100vh;
        overflow: hidden;
    }
    .founderContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 70px;
        height: 20em;
        width: 80%;
        overflow:scroll; 
        margin-bottom: 0;
    }

    #founderTitle2 {
        margin-left: 15em;
    }

    .founderPic {
        width: 70%;
        margin-left: 20%;
        margin-top: 0;
        float:none;
    }

    body.founderBody {
        background-image: none;
    }
}

/*mobile version*/
@media (min-width: 731px) and (max-width: 765px) { 
    html.founderHtml{
        height:100vh;
        overflow-y: scroll;
        overflow-x:hidden;
    }
    .founderContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 70px;
        height: 31em;
        width: 85%;
        overflow:scroll; 
        margin-bottom: 0;
    }
    #founderTitle2 {
        margin-left:-0em;
        margin-right:-0em;
    } 
    .founderPic {
        width: 60%;
        margin-left: 25%;
        margin-top: 0;
        float:none;
    }

    body.founderBody {
        background-image: none;
    }
}
@media (min-width: 700px) and (max-width: 730px) { 
    html.founderHtml{
        height:100vh;
        overflow-y: scroll;
        overflow-x:hidden;
    }
    .founderContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 70px;
        height:31em;
        width: 85%;
        overflow:scroll; 
        margin-bottom: 0;
    }
    #founderTitle2 {
        margin-left:-0em;
        margin-right:-0em;
    } 
    .founderPic {
        width: 65%;
        margin-left: 20%;
        margin-top: 0;
        float:none;
    }

    body.founderBody {
        background-image: none;
    }
}
@media (min-width: 631px) and (max-width: 700px) { 
    html.founderHtml{
        height:100vh;
        overflow-y: scroll;
        overflow-x:hidden;
    }
    .founderContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 70px;
        height: 25em;
        width: 85%;
        overflow:scroll; 
        margin-bottom: 0;
    }
    #founderTitle2 {
        margin-left:-0em;
        margin-right:-0em;
    } 
    .founderPic {
        width: 70%;
        margin-left: 20%;
        margin-top: 0;
        float:none;
    }

    body.founderBody {
        background-image: none;
    }
}

@media (min-width: 528px) and (max-width: 630px) { 
    html.founderHtml{
        height:100vh;
        overflow-y: scroll;
        overflow-x:hidden;
    }
    .founderContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 70px;
        height: 20em;
        width: 85%;
        overflow:scroll; 
        margin-bottom: 0;
    }
    #founderTitle2 {
        margin-left:-0em;
        margin-right:-0em;
    } 
    .founderPic {
        width: 70%;
        margin-left: 20%;
        margin-top: 0;
        float:none;
    }

    body.founderBody {
        background-image: none;
    }
}

@media (min-width: 451px) and (max-width: 528px) {
    html.founderHtml{
        height:100vh;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .founderContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 70px;
        height: 30em;
        width: 80%;
        overflow:scroll; 
        margin-bottom: 0;
    }

      .founderPic {
        width: 70%;
        margin-left: 20%;
        margin-top: 0;
        float:none;
    }
    #founderTitle2 {
        margin-left:-0em;
        margin-right:-0em;
    } 

    body.founderBody {
        background-image: none;
    }

}
@media (max-width: 450px) { 
    html.founderHtml{
        height:100vh;
        overflow-y: auto;
        overflow-x:hidden;
    }
    .founderContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 70px;
        height: 30em;
        width: 80%;
        overflow:scroll; 
        margin-bottom: 0;
    }

    #founderTitle2 {
        margin-left: 5em;
    }

    .founderPic {
        width: 70%;
        margin-left: 20%;
        margin-top: 0;
        float:none;
    }

    body.founderBody {
        background-image: none;
    }

}
@media (max-width: 435px) { 
    html.founderHtml{
        height:100vh;
        overflow-y: scroll;
        overflow-x:hidden;
    }
    .founderContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 70px;
        height: 31em;
        width: 80%;
        overflow:scroll; 
        margin-bottom: 0;
    }

    #founderTitle2 {
        margin-left: 3em;
    }

    .founderPic {
        width: 70%;
        margin-left: 20%;
        margin-top: 0;
        float:none;
    }

    body.founderBody {
        background-image: none;
    }

}
@media (max-width: 400px) { 
    html.founderHtml{
        height:100vh;
        overflow-y: scroll;
        overflow-x:hidden;
    }
    .founderContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 70px;
        height: 30em;
        width: 80%;
        overflow:scroll; 
        margin-bottom: 0;
    }

    #founderTitle2 {
        margin-left: 3em;
    }

    .founderPic {
        width: 70%;
        margin-left: 20%;
        margin-top: 0;
        float:none;
    }

    body.founderBody {
        background-image: none;
    }

}

@media (max-width: 380px) { 
    html.founderHtml{
        height:100vh;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .founderContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 70px;
        height: 30em;
        width: 80%;
        overflow:scroll; 
        margin-bottom: 0;
    }

    #founderTitle2 {
        margin-left: 2em;
    }

    .founderPic {
        width: 65%;
        margin-left: 22%;
        margin-top: 0;
        float:none;
    }

    body.founderBody {
        background-image: none;
    }

}  