body, html{
    margin:0;
    padding:0;
}
html.founderHtml {
    overflow: hidden;
}
.founderPicMobile {
    visibility: hidden;
    height: 0;
    width: 0;
}
.founderPic {
    float: right;
    width: 70%;
    margin-right: 100px;
    margin-top: 8%;
}
body.founderBody {
    overflow: hidden;
}

.founderContent {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 4.4em;
    height: 300px;
    overflow: auto;
    padding-right: 20px;
    text-align: justify !important;
}

.founderTitle{
    letter-spacing: 5px;
}

/* Desktop */
@media (min-width: 1024px) {
    .firstContent {
        margin-left: -0.8em;
    }

    div.forLandscape {
        margin-top: -2.5em;
    }

    img.forLandscape{
        margin-top: unset;
    }
}

/* Ipad and Tablet */
@media (min-width: 766px) and (max-width:1023px) { 
    html.founderHtml {
        height: 240vh;
    }

    .founderContent {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left: 90px;
        height: fit-content;
        width: 83.5%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
    }

    .founderTitle{ /*chinese title*/
        font-size: 29px;
        letter-spacing: 5px;
    }

    .bottomDivision {
        background-image: none;
    }

    .founderPicDesktop {
        visibility: hidden;
    }

    .founderPicMobile {
        visibility: visible;
        height: auto;
        width: auto;
        padding-top: 4vh;
    }

    .founderImage{
        width: 80%;
        margin-left: 6.5em;
    }
}

/*Phone Version*/
@media (max-width:765px) { 
    html.founderHtml{
        height: 350vh;
    }

    .founderContent {
        height: fit-content;
        margin-bottom: 0;
        margin-top: 2em;
        width: 75%;
        font-family: Calibri;
        font-size: 1.2em;
        overflow: hidden; 
    }

    .bottomDivision {
        background-image: none;
    }

    body.founderBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position: 5% bottom;
        background-size: 342%;
    }

    .founderPicDesktop {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .founderPicMobile {
        visibility: visible;
        height: auto;
        width: auto;
        margin-top: 1.5em;
    }

    .firstContent {
        background-image: url("../../Assets/Images/brush1.png");
        background-attachment: unset;
        background-size: 110% 23em;
        background-position: right top 0.9em;
        background-repeat: no-repeat;
    }

    .founderImage{
        width:70%;
        margin-left:5em;
        margin-top: 1.5em;
    }

    .founderTitle {
        font-size:23px;
    }
}