@charset "utf-8";

@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}

@font-face {
    src: url(fonts/AvenirNext-Bold.ttf);
    font-family: AveNextBold;
}

@font-face {
    src: url(fonts/Calibri\ Regular.ttf);
    font-family: Calibri;
}

html {
    height: 100vh;
    width: auto;
}

body {
    min-height: 100vh;
    width:auto;
}

body.founderBody {
    background-image: url("../../Assets/Images/AboutUs.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.title1 {
    display: inline;
    color: #790c15;
    font-family: AveNextBold;
    font-size: 36px;
}

.title2 {
    display: inline;
    color: #464749;
    font-family: AveNextBold;
    font-size: 36px;
}

h3 {
    font-weight: bold;
}

.firstContentText {
    font-family: AveNext;
    margin-left: 92px;
}

.founderDiv {
    margin-left: -30px;
}

.FounderContent {
    font-family: Calibri;
    font-size: 19px;
    margin-left: 92px;
    height:400px;
    overflow: auto;
}
.FounderPic{
    width: 38%;
    margin-top: 30px;
    margin-left: 120px;
}

@media (min-width: 1024px) { 
    html.founderHtml {
        overflow: hidden;
    }
}
/*tablet*/
@media (min-width: 768px) and ( max-width:1023px) { 
    html.founderHtml {
        overflow: hidden;
    }
    body.founderBody {
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .FounderContent {
        font-family: Calibri;
        font-size: 13px;
        margin-left: 92px;
        height:350px;
        width:80%;
    }
    .FounderPic{
        width:50%; 
        height:50%;
        margin-left:230px;
        

    }
   
}
/* phone size*/
@media (max-width: 767px) { 
    html.founderHtml{
        height:100vh;
        overflow: hidden;
    }
    body.founderBody {
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .FounderContent {
        font-family: Calibri;
        font-size: 13px;
        margin-left: 92px;
        height:350px;
        width:70%;
        
    }
    .FounderPic{
       visibility: hidden;
    }
    .title1 {
        display: inline;
        color: #790c15;
        font-family: AveNextBold;
        font-size: 20px;
    }
    h2 {
        
        color: #464749;
        font-family: AveNextBold;
        font-size: 20px;
    }
}
