@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}

body, html{
    margin:0;
    padding:0;
}

html.homeHtml {
    overflow: hidden;
}

body.homePageBody {
    overflow: hidden;
}

.homeContent {
    font-family: Calibri;
    font-size: 1.2em;
    margin-left: 70px;
    height: fit-content;
    width: 80%;
    overflow:hidden; 
    margin-bottom: 0;
    margin-top:2em;
    text-align: justify !important;
}

.homeContent2 {
    font-family: Calibri;
    font-size: 1.2em;
    margin-left: 70px;
    height: fit-content;
    width: 80%;
    overflow:hidden; 
    margin-bottom: 0;
    margin-top:2em;
    text-align: justify !important;
}
.founderMobile {
    visibility: hidden;
    height: 0;
    width: 0;
}
.homeFounderPic {
    float: right;
    width: 70%;
    margin-right: 100px;
    margin-top: 8%;
}

.secondHeader {
    font-family: 'Avenext';
    font-size:22.96px;
   
}
.homeTitle {
    font-family: AveNext;
    font-size:22.96px;
}
.homeTitle1 {
    font-family: AveNext;
    font-size:22.96px;
}

/* Responsive*/
@media (min-width: 1919px)and (max-width: 2100px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 1.7em;
        margin-left: 90px;
        height: fit-content;
        width: 90%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.7em;
        margin-left:90px;
        height: fit-content;
        width: 90%;
        overflow:hidden;
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 69.7%;
        margin-left:20.2%;
        margin-top: 6.1em;
        float:none;
    }
    .rightDivision {
        background-attachment: fixed;
        background-size:40%;
        background-position: right top 1em;
    }
    body.homePageBody {
        background-image: none
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:2.1em;
        font-size:42px;
    }
    .secondHeader{
        margin-top:0.2em;
        margin-left:2.1em;
        font-size:42px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 500px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
        padding-right: 40px;
        margin-top:1em;
    }
}

@media (min-width: 1600px)and (max-width: 1919px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left: 90px;
        height: fit-content;
        width: 90%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left:90px;
        height: fit-content;
        width: 90%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 69.7%;
        margin-left:18.7%;
        margin-top: 4.9em;
        float:none;
    }
    .rightDivision {
        background-attachment: fixed;
        background-size:40%;
        background-position: right top 1em;
    }
    body.homePageBody {
        background-image: none
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:3.3em;
        font-size:27.1px;
    }
    .secondHeader{
        margin-top:0em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 400px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
        padding-right: 40px;
        margin-top: 0.7em;
    }
}

@media (min-width: 1536px)and (max-width: 1600px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left: 90px;
        height: fit-content;
        width: 90%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left:90px;
        height: fit-content;
        width: 90%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 71%;
        margin-left:16%;
        margin-top: 1.6em;
        float:none;
    }
    .rightDivision {
        background-attachment: fixed;
        background-size:40%;
        background-position: right top 1em;
    }
    body.homePageBody {
        background-image: none
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:3.3em;
        font-size:27.1px;
    }
    .secondHeader{
        margin-top:-0.7em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 375px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
        padding-right: 40px;
    }
}

/* 13.9-14.9inch w height:796 from 1278px */
@media (min-width: 1520px)and (max-width: 1535px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 16px;
        margin-left: 90px;
        height: fit-content;
        width: 90%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 16px;
        margin-left:90px;
        height: fit-content;
        width: 90%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 68.6%;
        margin-left:18%;
        margin-top: 2em;
        float:none;
    }
    .rightDivision {
        background-attachment: fixed;
        background-size:40%;
        background-position: right top 1em;
    }
    body.homePageBody {
        background-image: none
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:3.3em;
        font-size:27.1px;
    }
    .secondHeader{
        margin-top:-0.7em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 320px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
        padding-right: 40px;
        margin-top:0.4em;
    }
}

@media (min-width: 1350px)and (max-width: 1520px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 16px;
        margin-left: 90px;
        height: fit-content;
        width: 90%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 16px;
        margin-left:90px;
        height: fit-content;
        width: 90%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 69%;
        margin-left:16.3%;
        margin-top: 1.7em;
        float:none;
    }
    .rightDivision {
        background-attachment: fixed;
        background-size:40%;
        background-position: right top 1em;
    }
    body.homePageBody {
        background-image: none
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .secondHeader{
        margin-top:-0.7em;
        margin-left:3.3em;
        font-size:27.1px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 320px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
        padding-right: 50px;
    }
}

@media (min-width: 1281px)and (max-width: 1349px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 16px;
        margin-left: 90px;
        height: fit-content;
        width: 89%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 16px;
        margin-left:90px;
        height: fit-content;
        width: 89%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 69%;
        margin-left:15.8%;
        margin-top: 0.5em;
        float:none;
    }
    .rightDivision {
        background-attachment: fixed;
        background-size:40%;
        background-position: right top 1em;
    }
    body.homePageBody {
        background-image: none;
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .secondHeader{
        margin-top:-0.7em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 320px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
        padding-right: 40px;
    }
}

@media (min-width: 1278px)and (max-width: 1280px) { 
    .homescroll{
        height: 272px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 16px;
        margin-left: 90px;
        height: fit-content;
        width: 89%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 16px;
        margin-left:90px;
        height: fit-content;
        width: 89%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeTitle{
        display: none;
    }
    .homeTitle1{
        margin-top:0.5em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .secondHeader{
        margin-top:0.2em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 320px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
        padding-right: 40px;
    }
}

@media (min-width: 1224px)and (max-width: 1279px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 16px;
        margin-left: 90px;
        height: fit-content;
        width: 85%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 16px;
        margin-left:90px;
        height: fit-content;
        width: 85%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 67%;
        margin-left:15.7%;
        margin-top: -1.7em;
        float:none;
    }
    .rightDivision {
        background-attachment: fixed;
        background-size:40%;
        background-position: right top 1em;
    }
    body.homePageBody {
        background-image: none;
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .homeTitle{
      display:none;
    }
    .secondHeader{
        margin-top:-0.7em;
        margin-left:3.2em;
        font-size:27.1px;
    }
}

/*min height:640*/
@media (min-width: 1274px)and (max-width: 1277px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 16px;
        margin-left: 90px;
        height: fit-content;
        width: 88%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 16px;
        margin-left:90px;
        height: fit-content;
        width: 88%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 64%;
        margin-left:19.5%;
        margin-top: 0.1em;
        float:none;
    }
    body.homePageBody {
        background-image: none;
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .secondHeader{
        margin-top:-0.7em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 290px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
        padding-right: 40px;
    }
}

@media (min-width: 1224px)and (max-width: 1275px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 16px;
        margin-left: 90px;
        height: fit-content;
        width: 87%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 16px;
        margin-left:90px;
        height: fit-content;
        width: 87%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 64%;
        margin-left:19%;
        margin-top: 0.1em;
        float:none;
    }
    body.homePageBody {
        background-image: none;
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .secondHeader{
        margin-top:-0.7em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 272px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
        padding-right: 40px;
    }
}

@media (min-width: 1093px)and (max-width: 1224px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 16px;
        margin-left: 90px;
        height: fit-content;
        width: 83%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 16px;
        margin-left:90px;
        height: fit-content;
        width: 83%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left:13%;
        margin-top: -0.4em;
        float:none;
    }
    body.homePageBody {
        background-image: none;
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:3.3em;
        font-size:27.1px;
    }
    .secondHeader{
        margin-top:-0.7em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 272px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
    }
}

@media (min-width: 1023px)and (max-width: 1092px) { 
    .homeContent {
        font-family: Calibri;
        font-size: 16px;
        margin-left: 90px;
        height: fit-content;
        width: 83%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 16px;
        margin-left:90px;
        height: fit-content;
        width: 83%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left:11%;
        margin-top: 1.7em;
        float:none;
    }
    body.homePageBody {
        background-image: none;
    }
    .homeTitle1{
        margin-top:-0.2em;
        margin-left:3.3em;
        font-size:27.1px;
    }
    .secondHeader{
        margin-top:-0.7em;
        margin-left:3.2em;
        font-size:27.1px;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 272px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
    }
}
/*min height 600*/
@media (min-width: 992px)and (max-width: 1022px) { 
 
    .homeContent {
        font-family: Calibri;
        font-size: 1em;
        margin-left: 90px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1em;
        margin-left:90px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:-0.1em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left:10%;
        margin-top: 1.65em;
        float:none;
    }
    body.homePageBody {
        background-image: none;
    }
    .homeTitle1{
        margin-top:0em;
        margin-left:4.3em;
        font-size:1.5em;
    }
    .secondHeader{
        margin-top:-0.5em;
        margin-left:4.3em;
        font-size:1.5em;
    }
    .homeTitle{
        display:none;
    }
    .homescroll{
        height: 272px;
        width:50%;
        overflow:scroll; 
        overflow-x: hidden;
    }
    .secondHeader{
        margin-left:2.6em;
        font-size:35px;
        margin-top:0.5em;
    }
    .homeTitle1{
        display:none;
    }
    
}
/*Ipad Air Version*/
@media (min-width: 769px)and (max-width: 991px) { 
    html.homeHtml{
        height:190vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.8em;
        margin-left: 90px;
        height: fit-content;
        width: 83%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.8em;
        margin-left: 90px;
        height: fit-content;
        width: 83%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.5em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left:11%;
        margin-top: 4em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:210%;
    }
    .homeTitle{
        margin-top:0em;
        font-size:28px;
    }
    .secondHeader{
        margin-left:3.2em;
        font-size:28px;
        margin-top:0.5em;
    }
    .homeTitle1{
        display:none;
    }
}

/*Ipad Mini*/
@media (min-width: 766px)and (max-width: 768px) { 
    html.homeHtml{
        height:200vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.6em;
        margin-left: 90px;
        height: fit-content;
        width: 81%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.6em;
        margin-left: 90px;
        height: fit-content;
        width: 81%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.7em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left:12%;
        margin-top: 0.7em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:210%;
    }
    .homeTitle{
        margin-top:0em;
        font-size:28px;
    }
    .secondHeader{
        margin-left:3.2em;
        font-size:28px;
        margin-top:0.5em;
    }
    .homeTitle1{
        display:none;
    }
    
}

@media (min-width: 730px)and (max-width: 766px) { 
    html.homeHtml{
        height:220vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left: 80px;
        height: fit-content;
        width: 82%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left: 80px;
        height: fit-content;
        width: 82%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.3em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left:11%;
        margin-top: 2.5em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:220%;
    }
    .homeTitle{
        margin-top:0em;
        font-size:28px;
    }
    .secondHeader{
        margin-left:2.9em;
        font-size:28px;
        margin-top:0.1em;
    }
    .homeTitle1{
        display:none;
    }
}

@media (min-width: 700px)and (max-width: 730px) { 
    html.homeHtml{
        height:220vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left: 82px;
        height: fit-content;
        width: 83%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left: 82px;
        height: fit-content;
        width: 83%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.8em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left:11%;
        margin-top: 1.3em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:230%;
    }
    .homeTitle{
        margin-top:1em;
        font-size:28px;
    }
    .secondHeader{
        margin-top:0.8em;
        margin-left:3em;
        font-size:28px;
    }
    .homeTitle1{
        display:none;
    }
}

@media (min-width: 631px)and (max-width: 700px) { 
    html.homeHtml{
        height:210vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.3em;
        margin-left: 85px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.3em;
        margin-left: 85px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.7em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left: 13%;
        margin-top: 2.4em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:195%;
    }
    .homeTitle{
        font-size:24px;
        margin-top:1em;
    }
    .secondHeader{
        margin-left:3.5em;
        font-size:24px;
    }
    .homeTitle1{
        display:none;
    }
}

@media (min-width: 528px)and (max-width: 630px) { 
    html.homeHtml{
        height:240vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left: 72px;
        height: fit-content;
        width: 81%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.5em;
        margin-left: 71px;
        height: fit-content;
        width: 81%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.5em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left: 13%;
        margin-top: 1.2em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:251%;
    }
    .homeTitle{
        margin-top:0.5em;
        font-size: 24px;
    }
    .secondHeader{
        margin-left:2.9em;
        font-size:24px;
        margin-top:0.5em;
    }
    .homeTitle1{
        display:none;
    }
}

@media (min-width: 451px)and (max-width: 528px) { 
    html.homeHtml{
        height:220vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.3em;
        margin-left: 70px;
        height: fit-content;
        width: 79%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.3em;
        margin-left: 70px;
        height: fit-content;
        width: 79%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.5em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left: 14%;
        margin-top:1.4em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:280%;
    }
    .homeTitle{
        margin-top:0.3em;
     font-size:24px;
    }
    .secondHeader{
        margin-left:3em;
        margin-top:0.3em;
        font-size:24px;
    }
    .homeTitle1{
        display:none;
    }
}

@media (max-width: 451px) { 
    html.homeHtml{
        height:250vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 78%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
        padding-right: 0.6em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 78%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.6em;
        padding-right: 0.6em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left: 15%;
        margin-top: 3.4em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:305%;
    }
    .homeTitle,.secondHeader{
        font-size:22.4px;
    }
    .secondHeader{
        margin-left:3.2em;
    }
    .homeTitle1{
        display:none;
    }
}

@media (max-width: 435px) { 
    html.homeHtml{
        height:200vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 79.6%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
        padding-right: 1em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 79.6%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.5em;
        padding-right: 1em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left: 16%;
        margin-top: 2.5em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:320%;
    }
    .homeTitle{
        margin-top:1.35em;
        margin-top:0em;
        font-size:22.4px;
    }
    .secondHeader{
        margin-left:3.1em;
        font-size:22.4px;
    }
    .homeTitle1{
        display:none;
    }
}

@media (max-width: 400px) { 
    html.homeHtml{
        height:215vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
        padding-right: 1.3em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.4em;
        padding-right: 1.3em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left: 17%;
        margin-top:3.4em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:342%;
    }
    .homeTitle{
        margin-top:0em;
        font-size:22.4px;
    }
    .secondHeader{
        margin-left:3.1em;
        font-size:22.4px;
    }
    .homeTitle1{
        display:none;
    }
}

@media (max-width: 380px) { 
    html.homeHtml{
        height:270vh;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
        padding-right: 1.5em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.5em;
        padding-right: 1.5em;
    }
    .homeFounderPic {
        width: 70%;
        margin-left: 17.5%;
        margin-top: 3.8em;
        float:none;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:342%;
    }
    .homeTitle{
        margin-top:-0.25em;
        font-size:22.4px;
    }
    .secondHeader{
        margin-left:3.1em;
        font-size: 22.4px;
    }
    .homeTitle1{
        display:none;
    }
}
@media (max-width: 360px) { 
    html.homeHtml{
        height:260vh;
    }
    .homeTitle1{
        display:none;
    }
    .homeTitle{
        margin-top:-0.25em;
        font-size:22.4px;
        margin-left:-0.12em;
    }
    .homeFounderPic {
        margin-top: 3.8em;
        margin-left:5em;
    }
    .title1{
    font-size:1.6em;
    }
    .secondHeader{
        font-size: 22.4px;
    }
    body.homePageBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:359%;
    }
    .homeContent {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
        padding-right: 1.5em;
    }
    .homeContent2 {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:1.3em;
        padding-right: 1.5em;
    }
}