@charset "utf-8";

@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}

.homePage {
    overflow: hidden;
}

.firstContent {
    background-image: linear-gradient(to right, #d0d0d0 , #f1f1f1);
}

.firstContentText {
    font-family: AveNext;
}

.verticalText {
    writing-mode: vertical-rl;
    text-orientation: upright;
}