/* @charset "utf-8";

@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}

@font-face {
    src: url(fonts/AvenirNext-Bold.ttf);
    font-family: AveNextBold;
}

@font-face {
    src: url(fonts/Calibri\ Regular.ttf);
    font-family: Calibri;
}

html {
    height: 100vh;
    width: auto;
}

body {
    min-height: 100%;
    min-width: auto;
}

body.lstyBody {
    background-image: url("../../Assets/Images/AboutUs.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

h3 {
    font-weight: bold;
}

.firstContent {
    margin-left: -30px;
}

.lstyContent {
    font-family: Calibri;
    font-size: 18px;
    margin-left: 92px;
    height:280px;
    overflow: auto;
}

/* carousel styles */
/* img#carouselpic {
    float: right;
    width: 70%;
    margin-right: 100px;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}  */

/* important overrides other styling */
/* .carousel-indicators button {
    position: relative !important;
    left: 10px !important;
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: white !important;
} */

/* .carousel {
    margin-top: 8%;
} */

/* @media (min-width: 1024px) { 
    html.lstyHtml {
        overflow: hidden;
    }
}  */
/*tablet*/
/* @media (min-width: 768px) and ( max-width:1023px) { 
    html.lstyHtml {
        overflow: hidden;
    }
    body.lstyBody {
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .lstyContent {
        font-family: Calibri;
        font-size: 13px;
        margin-left: 92px;
        height:350px;
        width:80%;
    }
    #lstyCarousel{
        margin-top:-30px; 
        
    }
    img#carouselpic {
        width: 50%;
        margin-right:200px;
        
    }

}  */
/* phone size*/
/* @media (max-width: 767px) { 
    html.lstyHtml{
        height:100vh;
        overflow: hidden;
    }
    body.lstyBody {
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .lstyContent {
        font-family: Calibri;
        font-size: 13px;
        margin-left: 75px;
        height:350px;
        width:75%;
        
    }
    #lsty{
       visibility:hidden;  
      }
     h2.title1 {
        display: inline;
        color: #790c15;
        font-family: AveNextBold;
        /* font-size: 20px !important; */
    /* } 
    
    #lstyCarousel{
        visibility: hidden;
     }
    
    
} */

body.lstyBody {
    background-image: url("../../Assets/Images/AboutUs.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.lstyContent {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 92px;
    height: 250px;
    overflow: auto;
}

img#lstyPic {
    float: right;
    width: 70%;
    margin-right: 100px;
}

.lstyHeader {
    display: inline;
    color: #790c15;
    font-family: AveNextBold;
    font-size: 30px;
}

.lstyCarousel {
    margin-top: 12%;
}

/* responsive styles */
@media (min-width: 1024px) { 
    html.lstyHtml {
        overflow: hidden;
    }
}     

@media (min-width: 992px) and (max-width: 1002px) {
    .lstyCarousel {
        margin-top: 26%;
    }

    .lstyContent {
        height: 200px;
    }
}

@media (min-width: 1002px) and (max-width: 1022px){
    .lstyCarousel {
        margin-top: 19% !important;
    }

    .lstyContent {
        height: 180px;
    }
}

@media (min-width: 1022px) and (max-width: 1093px) {
    .lstyCarousel {
        margin-top: 19%;
    }

    .lstyContent {
        height: 200px;
    }
}

@media (min-width: 1093px) and (max-width: 1240px) {
    .lstyCarousel {
        margin-top: 18%;
    }
}

@media (min-width: 1145px) and (max-width: 1330px) {
    .lstyCarousel {
        margin-top: 16%;
    }
}

@media (min-width: 1224px) and (max-width: 1449px) {
    .lstyCarousel {
        margin-top: 15%;
    }
}

@media (min-width: 1449px) and (max-width: 1610px) {
    .lstyCarousel {
        margin-top: 13%;
    }
        
    .lstyContent {
        height: 300px;
    }
}

@media (min-width:1610px) {
    .lstyContent {
        height: 350px;
    }
}

@media (min-width: 1920px) {
    .lstyCarousel {
        margin-top: 10% !important;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    html.lstyHtml {
        overflow: hidden;
    }
    body.lstyBody {
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }

    .lstyContent {
        font-size: 14px;
        margin-left: 92px;
        width:80%;
        margin-bottom: 0;
        height: 260px;
    }
}

/* phone size*/
@media (max-width: 767px) { 
    html.lstyHtml{
        height:100vh;
        overflow: hidden;
    }
    body.lstyBody {
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .lstyContent {
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll;
    }
    
    .lstyCarousel{
        visibility:hidden;
       }
    }
