body, html{
    margin:0;
    padding:0;
}


body.lstyBody {
    background: url("../../Assets/Images/AboutUs.png");
    height:130vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% 100%;  
}

.lstyContent {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 92px;
    height: 250px;
    overflow: auto;
}

img#lstyPic {
    float: right;
    width: 70%;
    margin-right: 100px;
}

.lstyHeader {
    display: inline;
    color: #790c15;
    font-family: AveNextBold;
    font-size: 30px;
}

.lstyCarousel {
    margin-top: 8%;
}

/* responsive styles */
@media (min-width: 1024px) { 
    html.lstyHtml {
        overflow-x: hidden;
    }
}     

@media (min-width: 992px) and (max-width: 1002px) {
    .lstyCarousel {
        margin-top: 26%;
    }

    .lstyContent {
        height: 200px;
    }
}

@media (min-width: 1002px) and (max-width: 1022px){
    .lstyCarousel {
        margin-top: 19% !important;
    }

    .lstyContent {
        height: 180px;
    }
}

@media (min-width: 1022px) and (max-width: 1093px) {
    .lstyContent {
        height: 150px;
    }
}

@media (min-width: 1345px) and (max-width: 1449px)  {
    .lstyContent {
        height: 220px;
    }
}

@media (min-width: 1093px) and (max-width: 1344px) {
    .lstyContent {
        height: 180px;
    }
}

@media (min-width: 1224px) and (max-width: 1449px) {
    .lstyCarousel {
        margin-top: 10%;
    }
}

@media (min-width: 1449px) and (max-width: 1744px) {
    .lstyContent {
        height: 250px;
    }
}

@media (min-width: 1744px) {
    .lstyContent {
        height: 350px;
    }
}

@media (min-width: 1300px) {
    body.lstyBody {
        height: 120vh;
    }
}

@media (min-width: 1920px) {
    .lstyCarousel {
        margin-top: 10% !important;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    html.lstyHtml {
        overflow: hidden;
    }
    body.lstyBody {
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }

    .lstyContent {
        font-size: 14px;
        margin-left: 92px;
        width:80%;
        margin-bottom: 0;
        height: 200px;
    }
}

/* phone size*/
@media (max-width: 767px) { 
    html.lstyHtml{
        height:100vh;
        overflow: hidden;
    }
   
    .lstyContent {
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll;
    }
    
    .lstyCarousel{
        visibility:hidden;
       }
    }
/* Common Size: phone & tablet*/
@media (max-width: 1023px) { 
    body.lstyBody{
        background-attachment: fixed;
        background-size:cover;
        background-attachment: fixed;
        background-position:0;
     
    }
}