@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}
  
.topTitle {
    font-size: 42px;
    color: #dddddd;
    font-weight: 900;
    position: absolute;
    z-index: -1;
    left: 70px;
    bottom: 30px;
}

.doll {
    width: 175px; 
    height: 200px; 
}

.link {
    text-decoration: none;
    color: black;
    margin-right: 80px;
    font-family: AveNext;
    font-weight: bold;
}

.linkFirst {
    text-decoration: none;
    color: black;
    margin-right: 75px;
    margin-left: 200px;
    font-family: AveNext;
    font-weight: bold;
}

/* Nav Bar*/
.navbar {
    padding: 1rem 1.5rem;
    z-index: 2;
    width: 100%;
  }
  
.navbar__sticky {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    /* box-shadow: 1px 1px 1px #999; */
    animation: moveDown 0.5s ease-in-out;
}

.navbar__logo {
    animation: fadeIn 0.7s ease-out;
    width: 250px;
}

.navbar_img {
    margin-left: 165px;
}

button.navbar-toggler {
    border-color: black !important;
    border: 2px solid;
}

/* collapse style for nav bar */

@media (max-width: 991.98px) { 
    .navbar_img {
        margin: 0;
    }

    .linkFirst {
        margin: 0;
    }
}    

/* hover styles */
.link:hover {
    color: #ce2525 !important;
}

.linkFirst:hover {
    color: #ce2525 !important;
}

