@charset "utf-8";

@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}

.topTitle {
    font-size: 42px;
    color: #dddddd;
    font-weight: 900;
    position: absolute;
    z-index: -1;
    left: 70px;
    bottom: 30px;
}

.doll {
    width: 175px; 
    height: 200px; 
}

.link {
    text-decoration: none;
    color: black !important;
    margin-right: 40px;
    font-family: AveNext;   
    font-weight: bold !important;
}

.linkFirst {
    text-decoration: none;
    color: black !important; 
    margin-right: 40px;
    font-family: AveNext;
    font-weight: bold !important;
}

/* Nav Bar*/
.navbar {
    padding: 1rem 1.5rem;
    position: relative;
    top: 0px;
  }

.navbar__logo {
    animation: fadeIn 0.7s ease-out;
    width: 250px;
    margin-left: 40px;
}

button.navbar-toggler {
    border-color: black !important;
    border: 2px solid;
}

/* collapse style for nav bar */

@media (max-width: 991.98px) { 
    .navbar_img {
        margin: 0;
        float: left;
    }

    .linkFirst {
        margin: 0;
    }

    .link {
        margin: 0;
    }
}    

/* hover styles */
.link:hover {
    color: #790c15 !important;
    text-decoration: underline;
}

.linkFirst:hover {
    color: #790c15 !important;
    text-decoration: underline;
}

