@charset "utf-8";

@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}

html {
    height: 100vh;
    width: auto;
}

body {
    min-height: 100%;
    min-width: auto;
}

body.services-body {
   
    background-image: url("../../Assets/Images/services.png");
    height:130vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% 100%;  
   
}

th{
    font-size:18px;
    color: #790c15;
}
td{
    font-size:16px;
  
}
Table{
    margin-left:25%;
    margin-top:1.8%;

}

@media(min-width: 1344px){
    body.services-body {
        height: 120vh;
    }
}

@media (min-width: 1024px) { 
    html.servicesHtml {
        overflow-x: hidden;
        
    }
  
}    

/*tablet*/
@media (min-width: 768px) and ( max-width:1023px){ 
    html.servicesHtml {
        overflow: hidden;
    }
    body.services-body {
        background-image:none;
        background-image: url("../../Assets/Images/AboutUs.png");
        background-repeat: no-repeat;
        background-size:cover;
    }
    th{
       font-size:16px;
    }
    td{
        font-size:15px;
    }
    .services-row{
        margin-left:-290px !important;
        margin-top:100px;
    }
  
}

/* phone size*/
@media (max-width: 767px) { 
    html.servicesHtml{
        height:100vh;
        overflow: hidden;
    }
    body.services-body {
        background-image:none;
        background-image: url("../../Assets/Images/AboutUs.png");
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    th{
        font-size:10px;
     }
     td{
         font-size:8px;
     }
     .services-row{
        margin-left:-320px !important;
        margin-top:50px;
    }
  
}
  
/* Common Size: phone & tablet*/
@media (max-width: 1023px) { 
    body.services-body {
        background-image: url("../../Assets/Images/AboutUs.png");
        background-attachment: fixed;
        background-size:cover;
        background-position:0;
     
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    Table{
        margin-left:53%;
    
    }
}

@media (max-width: 767px) {
    Table{
        margin-left:100%;
    
    }
}