@charset "utf-8";

@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}

html {
    height: 100vh;
    width: auto;
}

body {
    min-height: 100%;
    min-width: auto;
}

body.services-body {
   
    background-image: url("../../Assets/Images/services.png");
    height:130vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% 100%;  
   
}

th{
    font-size:15px;
    color: #790c15;
}
td{
    font-size:13px;
  
}
Table{
    margin-left:25%;
    margin-top:1.8%;

}
/*Responsive */

@media (min-width: 1300px) {
    body.services-body {
        height: 120vh;
    }

    Table{
        margin-top:4.5%;
    
    }
}


@media (min-width: 1024px) { 
    html.servicesHtml {
        overflow-x: hidden;
        
    }
  
}    

/*tablet*/
@media (min-width: 768px) and ( max-width:1023px){ 
    html.servicesHtml {
        overflow: hidden;
    }
    body.services-body {
        background-image:none;
        background-image: url("../../Assets/Images/AboutUs.png");
        background-repeat: no-repeat;
        background-size:cover;
    }
    th{
       font-size:16px;
    }
    td{
        font-size:15px;
    }
    .services-row{
        margin-left:-290px !important;
        margin-top:100px;
    }
  
}

/* phone size*/
@media (max-width: 767px) { 
    html.servicesHtml{
        height:100vh;
        overflow: hidden;
    }
    body.services-body {
        background-image:none;
        background-image: url("../../Assets/Images/AboutUs.png");
        background-size: cover;
        overflow: hidden;
    }
    th{
        font-size:10px;
     }
     td{
         font-size:8px;
     }
     .services-row{
        margin-left:-320px !important;
        margin-top:50px;
    }
  
}
  
/* Common Size: phone & tablet*/
@media (max-width: 1023px) { 
    body.services-body {
        background-image: url("../../Assets/Images/AboutUs.png");
        background-size:cover;
        background-position:0;
     
    }
}
@media (min-width: 1920px){
    Table{
        margin-left:30%;
        margin-top:10%;
    }
    body.services-body {
        background-image: url("../../Assets/Images/services.png");
        background-size:cover;
        background-position:0% 0%;
     
    }
    th{
        font-size:22px;
     }
     td{
         font-size:20px;
     }
    }

@media (min-width: 1800px ) and (max-width:1920px){
    Table{
        margin-left:30%;
        margin-top:10%;
    }
    body.services-body {
        background-image: url("../../Assets/Images/services.png");
        background-size:cover;
        background-position:0% 0%;
     
    }
    th{
        font-size:22px;
     }
     td{
         font-size:20px;
     }
    }
@media (min-width: 1600px ) and (max-width:1800px){
    Table{
        margin-left:30%;
        margin-top:10%;
    }
    body.services-body {
        background-image: url("../../Assets/Images/services.png");
        background-size:cover;
        background-position:0% 0%;
     
    }
    th{
        font-size:22px;
     }
     td{
         font-size:20px;
     }
    }

@media (min-width: 1550px) and (max-width: 1600px){
    Table{
        margin-left:30%;
        margin-top:10%;
    }
    body.services-body {
        background-image: url("../../Assets/Images/services.png");
        background-size:cover;
        background-position:0% 0%;
     
    }
}

@media (min-width: 1400px) and (max-width: 1550px) {
    Table{
        margin-left:30%;
        margin-top:5%;
    }
    body.services-body {
        background-image: url("../../Assets/Images/services.png");
        background-size:cover;
        background-position:0% 0%;
    }
}

@media (min-width: 1300px) and (max-width: 1399px){
    Table{
        margin-left:30%;
        margin-top:6%;
    }
    body.services-body {
        background-image: url("../../Assets/Images/services.png");
        background-size:cover;
        background-position:0% 0%;
    }
}


@media (min-width: 1200px) and (max-width: 1279px){
    Table{
        margin-left:30%;
        margin-top:6%;
    }
    body.services-body {
        background-image: url("../../Assets/Images/services.png");
        background-size:cover;
        background-attachment: fixed;
        background-position:0% 0%;
     
    }
}
@media (min-width: 1092px) and (max-width: 1200px){
    Table{
        margin-left:34%;
        margin-top:17%;
    }
    body.services-body {
        background-image: url("../../Assets/Images/services.png");
        background-size:cover;
        background-position:0% 0%;
     
    }
}
@media (min-width: 1050px) and (max-width: 1092px){
    Table{
        margin-left:14%;
        margin-top:10%;
    }
    body.services-body {
        background-image: url("../../Assets/Images/AboutUs.png");
        background-size:cover;
        background-attachment: fixed;
        background-position:0% 0%;
     
    }
}
@media (min-width: 1024px) and (max-width: 1050px){
    Table{
        margin-left:14%;
        margin-top:10%;
    }
    body.services-body {
        background-image: url("../../Assets/Images/AboutUs.png");
        background-size:cover;
        background-position:0% 0%;
        background-attachment: fixed;
    }
}
@media (min-width: 990px) and (max-width: 1023px){
    Table{
        margin-left:48%;
    
    }
}
@media (min-width: 768px) and (max-width: 990px){
    Table{
        margin-left:53%;
    
    }
}


@media (min-width: 500px) and (max-width: 767px){ 
    Table{
        margin-left:75%;
    }
    th{
        font-size:15px;
     }
     td{
         font-size:12px;
     }
    }
@media (min-width: 450px) and (max-width: 500px){ 
    Table{
        margin-left:90%;
    }
    }
@media (min-width: 420px) and (max-width: 450px){ 
    Table{
        margin-left:95%;
    
    }
    }
@media (max-width: 420px) { 
    Table{
        margin-left:100%;
    
    }
    }