/* common styling */
@font-face {
  src: url(fonts/AvenirNext.ttf);
  font-family: AveNext;
}
@font-face {
  src: url(fonts/AvenirNext-Bold.ttf);
  font-family: AveNextBold;
}
@font-face {
  src: url(fonts/AvenirNext-DemiBold.ttf);
  font-family: AveNextDemiBold;
}
html {
  height: 100vh;
  width: auto;
}
body {
  min-height: 100vh;
  width: auto;
}

.masks-body, .puppets-body, .shirts-body, .framed-body, .dolls-body {
  min-height: 100vh;
}

.shopHeader {
  font-size : 28px;
  font-family: AveNextDemiBold;
  color: #8d191d;
  letter-spacing: 0.1em;
  margin-top: -1%;
  margin-left: 4%;
  }
/* for spinner */
.centred {
  position: absolute;
}

.loadmore-centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-spin-dot-item {
  background-color: #790c15;
}

.renderRow {
  padding: 10px;
}

.main-image {
  display: block;
  width: 220px;
  height: 220px;
  box-shadow: 0px 0px 3px 1px #bebebe;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #790c15;
  font-weight: bold;
  font-size: small;
  text-align: center;
  margin-top: 15px;
}

.price {
  font-size: small;
  text-align: center;
  margin-top: -10px;
}

/*popup */
.pop-title {
  color: #790c15;
  font-weight: bold;
  font-size: large;
  margin-top: 15px;
}

.pop-price {
  color: black;
  font-size: medium;
  margin-top: -10px;
}

.pop-text {
  color: black;
  text-align: left;
}

/* for modal popup*/
.modal {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.shop-here {
  background-color: #790c15;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 130px;
  border-radius: 5.67px;
  float: left;
}

.close-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-spinner {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.close-button {
  border: none;
  padding: 8px;
  color: #474747;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin-left: 90%;
  background-color: transparent !important;
}

.modal-image-container {
  max-width: 60%;
}

.modal-main-image-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
}

.modal-side-images-container {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
}

.productModalDialog {
  margin-left: auto;
  margin-right: auto;
}

/* When screen is too small to display gallery, main image container should take up 100% of height */
@media (max-width: 991px) {
  .modal-main-image-container {
    height: 100%;
  }

  .modal-side-images-container {
    height: 0%;
  }
}

.modal-toggle-button-container {
  width: 28%;
  height: 100%;
  display: flex;
  align-items: center;
}

.toggle-left {
  justify-content: flex-end;
}

.toggle-right {
  justify-content: flex-start;
}

.toggle-button {
  width: 50px;
  height: 50px;
  color: #790c15;
}

.side-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-text-container {
  max-width: 40%;
}

.popup-image {
  display: block;
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 3px 1px #bebebe;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

/* When screen becomes too small to accomodate main image */
@media (max-width: 415px) {
  .popup-image {
    width: 150px;
    height: 150px;
  }
}

/* When screen becomes too small to accomodate main image */
@media (max-width: 370px) {
  .popup-image {
    width: 120px;
    height: 120px;
  }
}

/* When screen becomes too small to accomodate main image */
@media (max-width: 300px) { 
  .popup-image {
    width: 90px;
    height: 90px;
  }

  .modal-toggle-button-container {
    width: 20%;
  }
}

.small-image {
  display: block;
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 3px 1px #bebebe;
  object-fit: cover;
  margin-top: 20px;
}

body.shop-body {
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: 0px 40px;
  width: 100%;
  height: auto;
  overflow: auto;
}

/* specific to shop type */
.dolls-body {
  background-image: url("../../Assets/Images/dollsBG2.png");
}

.masks-body {
  background-image: url("../../Assets/Images/masksBG2.png");
}

.puppets-body {
  background-image: url("../../Assets/Images/handpuppetsBG2.png");
}

.shirts-body {
  background-image: url("../../Assets/Images/tshirtBG2.png");
}

.framed-body {
  background-image: url("../../Assets/Images/framesBG2.png");
}



/* landscape */
@media screen and (orientation: landscape) {
  .shop-container {
    margin-left: 12.5%;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .shopHeader {
    font-size : 1.8em;
    font-family: AveNextBold;
    color: #8d191d;
    letter-spacing: 0.1em;
    margin-top: -2.3%;
    margin-left: 5%;
  }
  .main-image {
    width: 200px;
    height: 200px;
  }
  .masks-body {
    background-image: url("../../Assets/Images/masksBG2.png");
    background-size: 70% auto;
    background-position: left top 13.2%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .puppets-body {
    background-image: url("../../Assets/Images/handpuppetsBG2.png");
    background-size: 70% auto;
    background-position: left top 12%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .dolls-body {
    background-image: url("../../Assets/Images/dollsBG2.png");
    background-size: 70% auto;
    background-position: left top 4.5%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .shirts-body {
    background-image: url("../../Assets/Images/tshirtBG2.png");
    background-size: 70% auto;
    background-position: left top 12%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .framed-body {
    background-image: url("../../Assets/Images/framesBG2.png");
    background-size: 70% auto;
    background-position: left top 7.5%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .shop-height {
    height: 17em;
  }
}

@media (min-width: 766px) and (max-width: 1023px) {
  .shop {
    margin-top: 5%;
  }
  .shop-container {
    margin-left: 15%;
  }
  .shopHeader {
    font-size : 28px;
    font-family: AveNextBold;
    color: #8d191d;
    letter-spacing: 0.1em;
    margin-top: -4%;
    margin-left: 7.5%;
  }
  .main-image {
    width: 200px;
    height: 200px;
  }
  .masks-body {
    background-image: url("../../Assets/Images/masksBG2.png");
    background-size: 110% auto;
    background-position: left top 11%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .puppets-body {
    background-image: url("../../Assets/Images/handpuppetsBG2.png");
    background-size: 110% auto;
    background-position: left top 11.6%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .dolls-body {
    background-image: url("../../Assets/Images/dollsBG2.png");
    background-size: 110% auto;
    background-position: left top 3%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .shirts-body {
    background-image: url("../../Assets/Images/tshirtBG2.png");
    background-size: 110% auto;
    background-position: left top 10.5%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .framed-body {
    background-image: url("../../Assets/Images/framesBG2.png");
    background-size: 110% auto;
    background-position: left top 5.8%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  body.masks-skyline {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% 100%;
    background-size: auto 65.8%;
    height: fit-content;
  }
  body.puppets-skyline {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% 100%;
    background-size: auto 68.4%;
    height: fit-content;
  }
  body.dolls-skyline {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% 100%;
    background-size: auto 27.45%;
    height: fit-content;
  }
  body.shirts-skyline {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% 100%;
    background-size: auto 63.7%;
    height: fit-content;
  }
  body.framed-skyline {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% 100%;
    background-size: auto 43.1%;
    height: fit-content;
  }
  .shop-height {
    height: 15em;
  }
}

@media (max-width: 765px) {
  .shop {
    margin-top: 5%;
  }
  .shopHeader {
    font-size : 22.4px;
    font-family: AveNextBold;
    color: #8d191d;
    letter-spacing: 0.1em;
    margin-top: -6%;
    margin-left: 10%;
  }
  .main-image {
    width: 150px;
    height: 150px;
  }
  .masks-body {
    background-image: url("../../Assets/Images/masksBG2.png");
    background-size: 130% auto;
    background-position: left top 6.3%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .puppets-body {
    background-image: url("../../Assets/Images/handpuppetsBG2.png");
    background-size: 130% auto;
    background-position: left top 7.5%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .dolls-body {
    background-image: url("../../Assets/Images/dollsBG2.png");
    background-size: 130% auto;
    background-position: left top 2%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .shirts-body {
    background-image: url("../../Assets/Images/tshirtBG2.png");
    background-size: 130% auto;
    background-position: left top 5.5%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  .framed-body {
    background-image: url("../../Assets/Images/framesBG2.png");
    background-size: 130% auto;
    background-position: left top 3.6%;
    background-attachment: unset;
    background-repeat: no-repeat;
  }
  body.masks-skyline {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% 100%;
    background-size:auto 46.95%;
    height: fit-content;
  }
  body.puppets-skyline {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% 100%;
    background-size:auto 63%;
    height: fit-content;
  } 
  body.dolls-skyline {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% 100%;
    background-size:auto 18.3%;
    height: fit-content;
  }
  body.shirts-skyline {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% 100%;
    background-size:auto 53.1%;
    height: fit-content;
  }
  body.framed-skyline {
    background-image: url("../../Assets/Images/comingsoon.png");
    background-repeat: no-repeat;  
    background-position: 5% 100%;
    background-size:auto 30.15%;
    height: fit-content;
  }
  .shop-height {
    height: 17em;
  }
}