/* common styling */
@font-face {
  src: url(fonts/AvenirNext.ttf);
  font-family: AveNext;
}
html {
  height: 100vh;
  width: auto;
}
body {
  min-height: 100vh;
  width: auto;
}

/* for spinner */
.centred {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loadmore-centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-spin-dot-item {
  background-color: #790c15;
}

.shop-container {
  margin-left: 20%;
  padding: 2%;
}

.renderRow {
  padding: 10px;
}

.main-image {
  display: block;
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 3px 1px #bebebe;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #790c15;
  font-weight: bold;
  font-size: small;
  text-align: center;
  margin-top: 15px;
}

.price {
  font-size: small;
  text-align: center;
  margin-top: -10px;
}

/*popup */
.pop-title {
  color: #790c15;
  font-weight: bold;
  font-size: large;
  margin-top: 15px;
}

.pop-price {
  color: black;
  font-size: medium;
  margin-top: -10px;
}

.pop-text {
  color: black;
  text-align: left;
}

/* for modal popup*/
.modal {
  position: absolute;
  overflow-y: scroll;
  left: -10%;
}

.shop-here {
  background-color: #790c15;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 130px;
  border-radius: 5.67px;
  float: left;
}

.close-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-spinner {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.close-button {
  border: none;
  padding: 8px;
  color: #474747;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin-left: 90%;
  background-color: transparent !important;
}

.modal-image-container {
  max-width: 60%;
}

.modal-main-image-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
}

.modal-side-images-container {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
}

/* When screen is too small to display gallery, main image container should take up 100% of height */
@media (max-width: 991px) {
  .modal-main-image-container {
    height: 100%;
  }

  .modal-side-images-container {
    height: 0%;
  }
}

.modal-toggle-button-container {
  width: 28%;
  height: 100%;
  display: flex;
  align-items: center;
}

.toggle-left {
  justify-content: flex-end;
}

.toggle-right {
  justify-content: flex-start;
}

.toggle-button {
  width: 50px;
  height: 50px;
  color: #790c15;
}

.side-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-text-container {
  max-width: 40%;
}

.popup-image {
  display: block;
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 3px 1px #bebebe;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

/* When screen becomes too small to accomodate main image */
@media (max-width: 415px) {
  .popup-image {
    width: 160px;
    height: 160px;
  }
}

/* When screen becomes too small to accomodate main image */
@media (max-width: 370px) {
  .popup-image {
    width: 120px;
    height: 120px;
  }
}

.small-image {
  display: block;
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 3px 1px #bebebe;
  object-fit: cover;
  margin-top: 20px;
}

body.shop-body {
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: 0px 40px;
  width: 100%;
  height: auto;
  overflow: auto;
}

/* ::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent
} */

/* specific to shop type */
body.dolls-body {
  background-image: url("../../Assets/Images/dolls.png");
}

body.masks-body {
  background-image: url("../../Assets/Images/masks.png");
}

body.puppets-body {
  background-image: url("../../Assets/Images/handpuppets.png");
}

body.shirts-body {
  background-image: url("../../Assets/Images/Tshirts.png");
}

body.framed-body {
  background-image: url("../../Assets/Images/Frames.png");
}

/* potrait */
@media screen and (orientation: portrait) {
  /* different screen sizes */
  @media (max-width: 590px) {
    body.shop-body {
      background-size: 100% 40%;
    }
  }

  @media (min-width: 590px) and (max-width: 850px) {
    body.shop-body {
      background-size: 100% 55%;
    }
  }

  @media (min-width: 850px) and (max-width: 991.98px) {
    body.shop-body {
      background-size: 100% 70%;
    }
  }

  .modal {
    margin-top: 30%;
  }
}

/* landscape */
@media screen and (orientation: landscape) {
  /* different screen sizes */
  @media (max-height: 420px) {
    body.shop-body {
      background-position: 0px 75px;
    }
  }

  .modal {
    margin-top: 10%;
  }
}
