@charset "utf-8";

@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}

@font-face {
    src: url(fonts/AvenirNext-Bold.ttf);
    font-family: AveNextBold;
}

@font-face {
    src: url(fonts/Calibri\ Regular.ttf);
    font-family: Calibri;
}

body, html{
    margin:0;
    padding:0;
}

body.ttcBody {
    background: url("../../Assets/Images/AboutUs.png");
    height:130vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% 100%;  
}

.title1 {
    display: inline;
    color: #790c15;
    font-family: AveNextBold;
    font-size: 30px;
}

.title2 {
    display: inline;
    color: #464749;
    font-family: AveNextBold;
    font-size: 30px;
}

.firstContentText {
    margin-left: 92px;
    font-family: AveNext;
    color: #464749;
}

.firstContent {
    margin-left: -30px;
}

.ttcContent {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 92px;
    height: 300px;
    overflow: auto;
}

/* carousel styles */
.carousel {
    margin-top: 8%;
}

img#carouselPic {
    float: right;
    width: 70%;
    margin-right: 100px;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.carousel-indicators button {
    height: 7px !important;
    width: 7px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: white !important;
}

.carousel-indicators {
    justify-content: right;
    margin-right: 20% !important;
}

/* RESPONSIVE STYLES */

@media (min-width: 1002px) and (max-width: 1022px) {
    .carousel {
        margin-top: 10% ;
    }
}

@media (min-width: 1093px) and (max-width: 1223px) {
    .ttcContent {
        height: 200px;
    }
}

@media (min-width: 1920px) {
    .carousel {
        margin-top: 5% !important;
    }
}

@media (min-width: 1024px) { 
    html.ttcHtml {
        overflow-x: hidden;
    }
}      

@media (min-width: 1224px) and (max-width: 1449px) {
    .ttcContent {
        height: 250px;
    }
    .carousel {
        margin-top: 10%;
    }
}



@media (min-width: 991px) and (max-width: 1092px) {
    .ttcContent {
        height: 180px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel {
        margin-top: 3% !important;
    }
}

/*tablet*/
@media (min-width: 768px) and ( max-width:1023px){ 
    html.ttcHtml {
        overflow: hidden;
    }
    
    .ttcContent {
        font-size: 14px;
        margin-left: 92px;
        width:80%;
        margin-bottom: 0;
    }
    img#carouselpic {
        width: 50%;
        margin-right:200px;
    }
    .title1 {
        display: inline;
        color: #790c15;
    }
    
    .title2 {
        display: inline;
        color: #464749;
    }

}
/* phone size*/
@media (max-width: 767px) { 
    html.ttcHtml{
        height:100vh;
        overflow: hidden;
    }
    .ttcContent {
        font-family: Calibri;
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll;
        
    }
    .firstContentText {
        margin-left: 70px !important;
    }
    
    .ttcCarousel{
        visibility:hidden;

       }
     .title1 {
        display: inline;
        color: #790c15;
        font-family: AveNextBold;
    }
    
    .title2 {
        display: inline;
        color: #464749;
        font-family: AveNextBold;
    }
}

/* Common Size: phone & tablet*/
@media (max-width: 1023px) { 
    body.ttcBody {
        background-size:cover;
        background-attachment: fixed;
        background-position:0;
     
    }
}