@charset "utf-8";
::-webkit-scrollbar {
    width: 7px;
} 

::-webkit-scrollbar-track {
    border-radius: 12px;
}  

::-webkit-scrollbar-thumb {
    background: #e2e2e2; 
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray; 
}

body, html{
    margin:0;
    padding:0;
}

html.wayangHtml {
    overflow: hidden;
}

/* Desktop */
@media (min-width: 1024px) {
    .wayangContent {
        width:95%;
    }
}

/* Ipad */
@media(min-width: 766px) and (max-width: 1023px){ 
    html.wayangHtml{
        height: 210vh;
    }

    .founderPicDesktop {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .founderPicMobile {
        visibility: visible;
        height: auto;
        width: auto;  
    }
}

/* Mobile Devices */
@media(max-width:765px){
    html.wayangHtml{
        height: 370vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .wayangContent {
        font-family: Calibri;
        font-size: 1.2em;
        margin-left: 70px;
        height: fit-content;
        width: 80%;
        overflow:hidden; 
        margin-bottom: 0;
        margin-top:2em;
    }

    body.wayangBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-repeat: no-repeat;  
        background-position:5% bottom;
        background-size:342%;
    }

    .wayangCarousel{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        float:none;
    }

    .wayangTitle{
        font-size:22.4px;
        margin-top:-0.3em;
    }
}