@charset "utf-8";

@font-face {
    src: url(fonts/AvenirNext.ttf);
    font-family: AveNext;
}

@font-face {
    src: url(fonts/AvenirNext-Bold.ttf);
    font-family: AveNextBold;
}

@font-face {
    src: url(fonts/Calibri\ Regular.ttf);
    font-family: Calibri;
}

.wayangContentTitle {
    font-family: AveNext;
    font-size: 20px;
}

.wayangBulkContent {
    font-family: Calibri;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.wayangContent {
    font-size: 20px;
}

.wayangContentAll {
    height: 300px;
    overflow: auto;
}

.wayangBody {
    margin-left: -30px;
    background-image: url("../../Assets/Images/AboutUs.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    overflow-x: hidden;
}

.wayangTitle {
    display: inline;
    color: #464749;
    font-family: AveNextBold;
    font-size: 36px;
}

.wayangTok {
    display: inline;
    color: #790c15;
    font-family: AveNextBold;
    font-size: 36px;
}

/* carousel styles */

#wayangCarouselPic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
}

.wayangCarouselSlide {
    margin-top: 40px;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

/* important overrides other styling */
.carousel-indicators button {
    position: relative !important;
    left: 10px !important;
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: white !important;
}

/* RESPONSIVE CSS */


@media (min-width: 1640px) {
    #wayangCarouselPic {
        margin-top: 0% !important;
    }
}

/* laptop */
@media (min-width: 1024px) and (max-width: 1300px) {
    #wayangCarouselPic {
        margin-top: 15%;
    }

}

@media (min-width: 1301px) and (max-width: 1639px) {
    #wayangCarouselPic {
        margin-top: 10%;
    }}

/* tablet */
@media (min-width: 768px) and (max-width:1023px){
    #wayangCarouselPic {
        margin-top: 20px;
    }

    .wayangBody {
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }

    .wayangCarouselSlide {
        padding: 0;
    }
    
}

@media (max-width: 767px){
    #wayangCarouselPic {
        width: 75%;
        margin-right: 8%;
    }

    .wayangBulkContent {
        margin-right: 5%;
        padding: 0;
    }

    .wayangBody {
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
}

