@charset "utf-8";
::-webkit-scrollbar {
    width: 7px;
} 

::-webkit-scrollbar-track {
    border-radius: 12px;
}  

::-webkit-scrollbar-thumb {
    background: #e2e2e2; 
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray; 
}  

body, html{
    margin:0;
    padding:0;
}

.wayangBody {
    background: url("../../Assets/Images/TTCbg3.png");
    height:130vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% 100%;  
}

.wayangContent {
    font-family: Calibri;
    font-size: 16px;
    margin-left: 92px;
    height: 300px;
    overflow: auto;
}

img#wayangPic {
    float: right;
    width: 70%;
    margin-right: 100px;
}

/*Responsive*/
@media (min-width: 1920px) {
    .wayangCarousel {
        margin-top: 5% !important;
    }
}
@media (min-width: 1224px) and (max-width: 1449px) {
    .wayangContent {
        height: 250px;
    }
    body.wayangBody{
        overflow-x: hidden;
    }
}

@media (min-width: 1093px) and (max-width: 1224px) {
    .wayangContent {
        height: 200px;
    }
} 

/* TO AVOID DEVELOPER'S PERSONAL SCREEN*/
@media (min-width: 1224px) and ( max-width:1275px){ 
    .wayangContent {
        height:280px;
    }
    .wayangCarousel {
        margin-top: 10% ;
    }
    body.wayangBody{
        height:auto;
        background-position:0;
    }
} 
@media (min-width: 1276px) and (max-width: 1279px) {
    .wayangContent {
        height:280px;
    }
    .wayangCarousel {
        margin-top: 10% ;
    }
    body.wayangBody{
        background-position:auto auto;
        height:120vh;
    }
} 

/* 13.9-14.9inch w height:796 */
@media (min-width: 1281px) and (max-width: 1535px) {
    .wayangContent {
        height:280px;
    }
    .wayangCarousel {
        margin-top: 10% ;
    }
    body.wayangBody{
        height:120vh;
    }
} 

/*Tablet*/
@media (min-width: 1023px) and (max-width: 1092px) {
    html.wayangHtml {
        overflow-x: hidden;
    }
    body.wayangBody {
        background-image: url("../../Assets/Images/comingsoon.png"); 
        background-size:cover;
        background-position:0;
    }
    .wayangContent {
        height: 20em !important;
    }
}

@media (max-width: 1023px) { 
    body.wayangBody {
        background-size:cover;
        background-position:0;
     
    }
}  
/*Tablet*/
@media (min-width: 992px) and (max-width: 1022px) {
    body.wayangBody {
        background-image: url("../../Assets/Images/comingsoon.png");
        background-position:0;  
    }
    .wayangContent {
        height: 15em !important;
    }
}

@media (min-width: 1536px) {
    body.wayangBody {
        height: 120vh;
    }
    html.wayangHtml {
        overflow-x: hidden;
    }
}
/*Ipad air*/
@media(min-width: 768px) and (max-width: 991px){ 
    html.wayangHtml{
        overflow: hidden;
    }
    body.wayangBody {
        background-position:0;  
        background-attachment: fixed;
    }
    .wayangContent {
        font-size: 14px;
        margin-left: 92px;
        width:80%;
        height: 280px
    }
    .wayangTitle {
        font-size: 22px;
    }
    .wayangCarousel{
        width: 100%;
        margin-top: 0;
        float:none;
    }
} 
/*Ipad Mini*/
 @media(min-width: 766px) and (max-width: 767px){ 
    html.wayangHtml{
        height:100vh;
        overflow: hidden;
    }
    body.wayangBody {
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .wayangContent {
        font-size: 14px;
        margin-left: 92px;
        width:80%;
        height: 280px
    }
    .wayangTitle {
        font-size: 22px;
    }
    .wayangCarousel{
        width: 100%;
        margin-left: 4%;
        margin-top: 0;
        float:none;
    }
    
    body.wayangBody {
        background-position:0;  
        background-attachment: fixed;
    }
} 

/*mobile version*/
@media(min-width: 731px) and (max-width: 765px){
    html.wayangHtml{
        height:100vh;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .wayangContent {
        font-family: Calibri;
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll; 
    }
    .wayangTitle {
        font-size: 22px;
    }
    body.wayangBody {
        background-image: none;
    }
    .wayangCarousel{
        width: 100%;
        margin-left: 4%;
        margin-top: 0;
        float:none;
    }
}

@media(min-width: 631px) and (max-width: 700px){
    html.wayangHtml{
        height:100vh;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .wayangContent {
        font-family: Calibri;
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll; 
    }
    .wayangTitle {
        font-size: 22px;
    }
    body.wayangBody {
        background-image: none;
    }
    .wayangCarousel{
        width: 100%;
        margin-left: 4%;
        margin-top: 0;
        float:none;
    }
}
@media(min-width: 528px) and (max-width: 630px){
    .wayangPicCol {
        float: left;
        position: absolute;
    }
    .wayangTextCol {
        
    }
    html.wayangHtml{
        height:100vh;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .wayangContent {
        font-family: Calibri;
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll; 
    }
    .wayangTitle {
        font-size: 22px;
    }
    body.wayangBody {
        background-image: none;
    }
    .wayangCarousel{
        width: 100%;
        margin-left: 5%;
        margin-top: 0;
        float:none;
    }
}
@media(min-width: 451px) and (max-width: 528px){
    html.wayangHtml{
        height:100vh;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .wayangContent {
        font-family: Calibri;
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll; 
    }
    .wayangTitle {
        font-size: 22px;
    }
    body.wayangBody {
        background-image: none;
    }
    .wayangCarousel{
        width: 100%;
        margin-left: 10%;
        margin-top: 0;
        float:none;
    }
}
@media(max-width:450px){
    html.wayangHtml{
        height:100vh;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .wayangContent {
        font-family: Calibri;
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll; 
    }
    .wayangTitle {
        font-size: 22px;
    }
    body.wayangBody {
        background-image: none;
    }
    .wayangCarousel{
        width: 100%;
        margin-left: 10%;
        margin-top: 0;
        float:none;
    }
}

@media(max-width:435px){
    html.wayangHtml{
        height:100vh;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .wayangContent {
        font-family: Calibri;
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll; 
    }
    .wayangTitle {
        font-size: 22px;
    }
    body.wayangBody {
        background-image: none;
    }
    .wayangCarousel{
        width: 100%;
        margin-left: 10%;
        margin-top: 0;
        float:none;
    }
}

@media(max-width:400px){
    html.wayangHtml{
        height:100vh;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .wayangContent {
        font-family: Calibri;
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll; 
    }
    .wayangTitle {
        font-size: 22px;
    }
    body.wayangBody {
        background-image: none;
    }
    .wayangCarousel{
        width: 100%;
        margin-left: 15%;
        margin-top: 0;
        float:none;
    }
}

@media(max-width:380px){
    html.wayangHtml{
        height:100vh;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .wayangContent {
        font-family: Calibri;
        font-size: 14px;
        margin-left: 70px;
        height:350px;
        width: 80%;
        overflow:scroll; 
    }
    .wayangTitle {
        font-size: 22px;
    }
    body.wayangBody {
        background-image: none;
    }
    .wayangCarousel{
        width: 100%;
        margin-left: 15%;
        margin-top: 0;
        float:none;
    }
}