.footerContainer {
    margin: 50px;
}

.footerCard {
    margin: 0 50px;
    
}
  
.showSubProducts {
    z-index: 2;
    position: absolute;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    border: 1px;
    border-top-style: solid;
    border-color: burlywood;
}

.hideSubProducts {
    z-index: 2;
    position: absolute;
    width: 100%;
    background-color: white;
    display: None;
}

.hoverSubProducts {
    padding: 5% 10%;
    text-decoration: None;
    color: black;
}

.imagePlaceHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbarProductLink {
    text-decoration: None;
    color: black;
}